<div class="sticker-selector-outer">
    <div class="sticker-selector-wrapper">
        <div class="navigation-bar">
            <div class="tabs clearfix">
                <div class="tab" index="0">
                    貼紙
                </div>
                <div class="tab" index="1">
                    商店
                </div>
                <div class="tab" index="2">
                    關於
                </div>
                <div class="tab-indicator select0"></div>
            </div>
        </div>
        <div class="content-view clearfix">
            <div class="stickers clearfix">
            </div>
            <div class="stickers-shop">
            </div>
            <div class="about"></div>
        </div>
    </div>
</div>
