<div class="sticker-selector-outer">
    <div class="sticker-selector-wrapper">
        <div class="navigation-bar">
            <div class="tabs clearfix">
                <div class="tab" index="0">
                    貼紙
                </div>
                <div class="tab" index="1">
                    商店
                </div>
                <div class="tab" index="2">
                    關於
                </div>
                <div class="tab-indicator select0"></div>
            </div>
        </div>
        <div class="content-view clearfix">
            <div class="stickers clearfix">
                <% _.each(stickerCollection.getDownloadedModels(), function(obj, i){ %>
                    <% _.each(_.range(obj.get('2')[0][0], obj.get('2')[0][0] + obj.get('2')[0][1]), function(j, k){ %>
                        <div class="sticker" url="http://dl.stickershop.line.naver.jp/products/0/0/<%= obj.get(1) %>/<%= obj.get(0) %>/android/stickers/<%= j %>.png" style="background-image: url(http://dl.stickershop.line.naver.jp/products/0/0/<%= obj.get(1) %>/<%= obj.get(0) %>/android/stickers/<%= j %>.png);"></div>
                    <% }) %>
                <% }) %>
            </div>
            <div class="stickers-shop">
                <% _.each(stickerCollection.models.slice(0, 25), function(obj, i){ %>
                    <div class="sticker">
                        <img class="preview" src="http://dl.stickershop.line.naver.jp/products/0/0/<%= obj.get(1) %>/<%= obj.get(0) %>/android/thumbnail_shop.png">
                    </div>
                <% }) %>
            </div>
            <div class="about"></div>
        </div>
    </div>
</div>
