// $iconSpritePath: "../images/glyphicons-halflings.png";
// $iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

// @import 'sass-bootstrap/lib/bootstrap';

// .hero-unit {
//     margin: 50px auto 0 auto;
//     width: 300px;
// }

.sticker-button{
    padding: 10px 0px 10px 10px;
    position: absolute;
    right: 30px;
    top: -7px;
    cursor: pointer;
    opacity: 0.8;
}

.sticker-button:hover{
    opacity: 1;
}

.sticker-button:active{
    opacity: 1;
}

.sticker-selector-outer{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: -20000px;
    left: 0;
    z-index: 999;

    .sticker-selector-wrapper{
        width: 300px;
        height: 300px;
        position: absolute;
        background-color: white;
        // background-image: -webkit-linear-gradient(top,#f5f5f5 0,#ececec 100%);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
        z-index: 1000;
        overflow: auto;
        border-radius: 5px;
        overflow: hidden;

        .navigation-bar{
            margin: 0;
            padding: 1px 0;
            line-height: 24px;
            height: 25px;
            background-image: -webkit-linear-gradient(top, #f5f5f5 0, #ececec 100%);
            text-align: center;
            font-size: 12px;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);

            .tabs{
                width: 120px;
                margin: 0 auto;
                position: relative;

                .tab{
                    float: left;
                    width: 33.33%;
                    cursor: pointer;
                    position: relative;
                    z-index: 1;
                    -webkit-user-select: none;
                }

                .tab:hover{
                    background-color: white;
                }

                .tab-indicator{
                    position: absolute;
                    float: left;
                    width: 33.33%;
                    height: 100%;
                    border-bottom: 3px solid green;
                    -webkit-transition: all 0.3s ease-in-out;
                }

                .tab-indicator.select0{
                    left: 0;
                    // -webkit-transform: translateX(0);
                }

                .tab-indicator.select1{
                    left: 33.33%;
                    // -webkit-transform: translateX(100%);
                }

                .tab-indicator.select2{
                    left: 66.66%;
                    // -webkit-transform: translateX(200%);
                }
            }
        }

        .content-view{
            // width: 1000%;
            // position: relative;
            // -webkit-transition: all 0.25s ease-in-out;
        }

        .stickers-shop{
            width: 100%;
            height: 273px;
            overflow: auto;
            float: left;
            box-sizing: border-box;

            .sticker{
                height: 60px;
                margin-top: 15px;
                padding: 0px 15px;
                box-sizing: border-box;

                .preview{
                    max-height: 100%;
                }

                .download{
                    float: right;
                    background-image: -webkit-linear-gradient(top, rgb(245, 245, 245) 0px, rgb(236, 236, 236) 100%);
                    padding: 5px 8px;
                    margin: 15px 6px 6px 6px;
                    box-sizing: border-box;
                    border-radius: 5px;
                    font-size: 11px;
                    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
                    cursor: pointer;
                }

                .download:hover{
                    background-image: -webkit-linear-gradient(top, rgb(245, 245, 245) 0px, rgb(246, 246, 246) 100%);
                }
            }
        }

        .stickers{
            width: 100%;
            height: 270px;
            overflow: auto;
            float: left;
            box-sizing: border-box;

            .sticker{
                float: left;
                width: 60px;
                height: 60px;
                padding: 5px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 50%;
                background-origin: content-box;
                box-sizing: border-box;
                cursor: pointer;
            }
            .sticker:hover{
                background-color: #EEE;
            }
            .sticker:first{
                margin-top: 5px;
            }
            .sticker:nth-child(1){
                margin-top: 5px;
            }
            .sticker:nth-child(2){
                margin-top: 5px;
            }
            .sticker:nth-child(3){
                margin-top: 5px;
            }
            .sticker:nth-child(4){
                margin-top: 5px;
            }
            .sticker:nth-child(5){
                margin-top: 5px;
            }
        }
    }
}

.sticker-loading{
    display: none;
    margin-right: 5px;
}
