// $iconSpritePath: "../images/glyphicons-halflings.png";
// $iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

// @import 'sass-bootstrap/lib/bootstrap';

// .hero-unit {
//     margin: 50px auto 0 auto;
//     width: 300px;
// }

.sticker-button{
    position: absolute;
    right: 30px;
    top: 3px;
    cursor: pointer;
    opacity: 0.8;
}

.sticker-button:hover{
    opacity: 1;
}

.sticker-button:active{
    opacity: 1;
}

.sticker-selector-wrapper{
    display: none;
    background-color: red;
    width: 300px;
    height: 300px;
    position: absolute;
}
