// $iconSpritePath: "../images/glyphicons-halflings.png";
// $iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

// @import 'sass-bootstrap/lib/bootstrap';

// .hero-unit {
//     margin: 50px auto 0 auto;
//     width: 300px;
// }

.sticker-button{
    position: absolute;
    right: 30px;
    top: 3px;
    cursor: pointer;
    opacity: 0.8;
}

.sticker-button:hover{
    opacity: 1;
}

.sticker-button:active{
    opacity: 1;
}

.sticker-selector-outer{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .sticker-selector-wrapper{
        // display: none;
        background-color: red;
        width: 300px;
        height: 300px;
        position: absolute;
        background: rgb(219, 220, 223);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
        padding: 10px;
        z-index: 1;
        overflow: scroll;

        .sticker{
            float: left;
            width: 60px;
            height: 60px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50%;
            cursor: pointer;
        }
        .sticker:hover{
            background-color: #CCC;
        }
    }
}

.sticker-loading{
    display: none;
    margin-right: 5px;
}
